<div class="gcard-body" style="width: 18rem;">
  {{#if img_url}}
  <img src="{{img_url}}" class="card-img-top">
  {{else}}
  <img src="https://www.wasaweb.net/images/thumbnails/512x512-flowers-488.jpg" class="card-img-top">
  {{/if}}
  <h3 class="card-title">{{Scientific_Name}}</h3>
  <h3 class="card-title">{{Common_Name}}</h3>
  <div class="ifInfo">
    <h6>ID:<span class="ifInfo" >
        {{id}} 
      </span></h6>
  </div>
  <button type="button" id={{id}} class="btn btn-primary btn-sm collection-add">Add to collection</button>
</div>

